.respuesta {
  width: 400px;
  color: var(--Dark-grayish-blue);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  cursor: pointer;
  user-select: none;
  border: none;
  background-color: white;
}

.respuesta-texto {
  font-weight: bold;
}

.respuesta-wrapper-texto {
  margin-top: 15px;
  text-align: justify;
  display: none;
  color: var(--Dark-grayish-blue)
}

.arrow {
  transform: rotate(180deg);
}

.seleccionado {
  color: var(--Very-dark-grayish-blue)
}

.visible {
  display: flex;
}

@media (max-width: 912px) {
  .respuesta {
    width: 100%;
    padding: 0px 20px;
  }
  .respuesta-texto {
    text-size-adjust: auto;
  }
}