@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


:root{
  --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
--Soft-red: hsl(14, 88%, 65%);

/* #### Gradient */

/* Background gradient: */

--Soft-violet: hsl(273, 75%, 66%);
--Soft-blue: hsl(240, 73%, 65%);

/* ### Neutral */

/* #### Text */

--Very-dark-grayish-blue: hsl(237, 12%, 33%);
--Dark-grayish-blue: hsl(240, 6%, 50%);

/* #### Dividers */

--Light-grayish-blue: hsl(240, 5%, 91%)
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  background: linear-gradient(var(--Soft-violet), var(--Soft-blue)) no-repeat fixed;
  font-size: 12px;
  font-family: 'Kumbh sans',sans-serif;
}

h1 {
  font-size: 30px;
}

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;
  max-width: 1024px;
  min-height: 400px;
  height: 600px;
  display: flex;
  align-items: center;
  margin: 200px 100px;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.pattern {
  position: absolute;
  width: 700px;
  left: -230px;
  margin: -50px 0px;
}


.logo-mujer {
  position: relative;
  left: -10px;
}

@media (max-width: 912px) {
  .flexbox {
    margin: 100px auto;
  }

  .container {
    min-height: 300px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 10px;
    position: static;
    border-radius: 25px;

  }

  .pattern {
    position: relative;
    width: 90%;
    left: 0;
    top: -155px;
  }

  .logo-mujer {
    position: absolute;
    width: 80%;
    left: 38px;
    top: 0px;
  }
}